@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  html {
    font-size: 100%;
  }
  body {
    @apply text-base;
  }

  html,
  body {
    @apply p-0 font-sans text-gray-800;
  }
  
  a {
    @apply text-blue-700;
  }
  
  a:hover, a:focus {
    @apply text-blue-700;
  }

  a:hover {
    @apply underline;
  }
  
  /* make tap targets big enough */
  nav a, footer a, button, summary {
    @apply box-border min-w-tap min-h-tap;
  }

  /* center tap targets vertically  but not summary */
  /* summary doesn't work well with display: flex on Safari */
  nav a, footer a, button {
    @apply flex items-center;
  }

  h1 {
    @apply text-3xl tracking-tighter leading-normal;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg font-medium;
  }
  h5 {
    @apply text-base font-semibold;
  }
  h6 {
    @apply text-base italic;
  }

  summary {
    --child-font-size: 1em;
    --child-line-height: 1.5;
    padding: calc((theme('minHeight.tap') - var(--child-font-size) * var(--child-line-height) )/2)  .25rem;
  }
  
  summary > * {
    display: inline; /* to align with summary marker */
    font-size: var(--child-font-size); /* size must be set on the summary for the marker to scale */
    line-height: var(--child-line-height);
  }
}

@layer components {
  .box {
    @apply border border-solid border-gray-400 bg-gray-50;
  }

  .js .js-hide {
    @apply hidden;
  }

  .markdown {
    @apply text-base leading-relaxed
  }
  .markdown h2 {
    @apply mt-8 mb-4 leading-snug
  }
  .markdown h3 {
    @apply mt-6 mb-4 leading-snug
  }
  .markdown p {
    @apply my-4
  }
}
